server:
  port: 8083 # 数据服务的端口

spring:
  application:
    name: platform-data-service
  datasource:
    url: jdbc:mysql://localhost:3306/manuflex_paas?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: manuflex_user
    password: manuflex_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none # ⚠️ 禁用自动 DDL，因为我们将手动管理表结构
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# 元数据服务的地址 (如果 Data Service 需要直接调用 Metadata Service)
metadata:
  service:
    url: http://platform-metadata-service
app:
  jwtSecret: xi5G429vyD9/rLxktYqsZU723o3V5OB65KWoU76ORtFqihOS3gSQSqEWfDzDdc1ThsPv9D2v0AdqvcdXg+2vqg==
  jwtExpirationMs: 3600000 # Access Token 过期时间，例如 1 小时 (3600 * 1000 毫秒)
  jwtRefreshExpirationMs: 604800000 # Refresh Token 过期时间，例如 7 天 (7 * 24 * 3600 * 1000 毫秒)


logging:
  file:
    # 确保这是 Promtail 映射的主机路径
    name: ./logs/iam/application.log
  level:
    root: INFO
    org.springframework.web: INFO
    top.itangbao.platform.data: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: method
  api-docs:
    path: /v3/api-docs
  info:
    title: ManuFlex PaaS - Data Service API
    description: Dynamic Data Management Service APIs for ManuFlex PaaS.
    version: 1.0.0
    contact:
      name: itangbao
      email: itangbao@example.com
    license:
      name: Apache 2.0
      url: https://www.apache.org/licenses/LICENSE-2.0.html

management:
  endpoints:
    web:
      exposure:
        include: 'health,info,prometheus,metrics'
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  observations:
    key-values:
      application: ${spring.application.name}