spring:
  datasource:
    # 在 Docker 网络中，服务名 'mysql' 会自动解析为数据库容器的 IP
    url: jdbc:mysql://mysql:3306/manuflex_paas?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver

  # 同样修正 Redis 和 Nacos 地址
  data:
    redis:
      host: redis
      port: 6379
  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
      config:
        server-addr: nacos:8848
        file-extension: yaml