server:
  port: 8084 # LIMS 服务的端口

spring:
  application:
    name: platform-lims-service
  datasource:
    url: jdbc:mysql://localhost:3306/manuflex_paas?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: manuflex_user
    password: manuflex_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update # LIMS 可能有自己的实体，所以这里设置为 update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# 元数据服务的地址 (Feign 客户端使用)
metadata:
  service:
    url: http://platform-metadata-service

# 数据服务的地址 (Feign 客户端使用)
data:
  service:
    url: http://platform-data-service

logging:
  file:
    # 确保这是 Promtail 映射的主机路径
    name: ./logs/iam/application.log
  level:
    root: INFO
    org.springframework.web: INFO
    top.itangbao.platform.lims: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: method
  api-docs:
    path: /v3/api-docs
  info:
    title: ManuFlex PaaS - LIMS Service API
    description: Laboratory Information Management System (LIMS) Service APIs for ManuFlex PaaS.
    version: 1.0.0
    contact:
      name: itangbao
      email: itangbao@example.com
    license:
      name: Apache 2.0
      url: https://www.apache.org/licenses/LICENSE-2.0.html

app:
  jwt:
    # 公钥（网关和所有资源服务都需要配置）
    publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuBPMYYuTlJWVajcWkg9FkGQg7Pxpid0tHJl8dG+ruECca8T4WV87e7DvN4OZxUbongp4P4KgG1xHGXswMV9EpK2GnOx2BbHTh+yU3uI2JucpOZQL3uWcKQ+cZIgMIHWDrQ/660ueyLwxxDXoytZaKYW/OGzUEAZxtByLuhO6MWXyMgfi8RoNNOZOxFmyk1G59hF6MLqcC+4j452oCa6woz9HrfhK3DAwuBFfQerM/eYLvShx5p92/xKseSwa3j6Wve1zAY3ZH/wv/TXdQJ18ykaqXkw6qn9ELzh6Hg2ACTDu9k7hs67M9JWKIkQZe6DrOBNjVD5ZRoEkA+ulZiZetQIDAQAB
    expirationMs: 3600000 # Access Token 过期时间，例如 1 小时 (3600 * 1000 毫秒)
    refreshExpirationMs: 86400000 # Refresh Token 过期时间，例如 7 天 (7 * 24 * 3600 * 1000 毫秒)

# Camunda 外部任务客户端配置 (新增)
camunda.bpm.client:
  base-url: http://localhost:8085/engine-rest # 外部任务客户端连接 Camunda 引擎 REST API 的地址
  subscriptions:
    sample-topic: # 对应 SampleExternalTaskWorker 中的 @ExternalTaskSubscription("sample-topic")
      lock-duration: 10000 # 任务锁定时间 (毫秒)
      auto-fetch-and-lock: true # 自动拉取和锁定任务
      async-response-timeout: 5000 # 异步响应超时时间


management:
  endpoints:
    web:
      exposure:
        include: 'health,info,prometheus,metrics'
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  observations:
    key-values:
      application: ${spring.application.name}