server:
  port: 8086 # 新分配一个端口

spring:
  application:
    name: platform-file-service
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_HOST:localhost}:8848
      config:
        server-addr: ${NACOS_HOST:localhost}:8848 # Nacos Server 地址
        file-extension: yml # 配置文件的扩展名
        group: DEFAULT_GROUP # 配置组
        namespace: ${NACOS_NAMESPACE:}
        refresh-enabled: true # 启用动态刷新配置
  config:
    import:
      # ⚠️ 关键修正：显式指定 DataId。默认 DataId 为 ${应用名}.yml
      # 格式为: nacos:[dataId]?[group]&[refresh]
      - nacos:${spring.application.name}.${spring.cloud.nacos.config.file-extension}

# MinIO 配置
minio:
  endpoint: http://${MINIO_HOST:minio}:9000 # 容器内部通信用 minio，本地用 localhost
  access-key: minioadmin
  secret-key: minioadminpassword
  bucket-name: manuflex-files
  external-endpoint: http://localhost:9000 # 前端访问的地址 (如果前端直连)


app:
  jwtSecret: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuBPMYYuTlJWVajcWkg9FkGQg7Pxpid0tHJl8dG+ruECca8T4WV87e7DvN4OZxUbongp4P4KgG1xHGXswMV9EpK2GnOx2BbHTh+yU3uI2JucpOZQL3uWcKQ+cZIgMIHWDrQ/660ueyLwxxDXoytZaKYW/OGzUEAZxtByLuhO6MWXyMgfi8RoNNOZOxFmyk1G59hF6MLqcC+4j452oCa6woz9HrfhK3DAwuBFfQerM/eYLvShx5p92/xKseSwa3j6Wve1zAY3ZH/wv/TXdQJ18ykaqXkw6qn9ELzh6Hg2ACTDu9k7hs67M9JWKIkQZe6DrOBNjVD5ZRoEkA+ulZiZetQIDAQAB
  jwtExpirationMs: 3600000 # Access Token 过期时间，例如 1 小时 (3600 * 1000 毫秒)
  jwtRefreshExpirationMs: 604800000 # Refresh Token 过期时间，例如 7 天 (7 * 24 * 3600 * 1000 毫秒)