server:
  port: 8080 # API 网关的端口，通常是标准的 HTTP 端口

spring:
  application:
    name: platform-api-gateway
  cloud:
    gateway:
      routes:
        # IAM Service 路由
        - id: iam-service
          uri: http://localhost:8081 # IAM 服务的地址
          predicates:
            - Path=/api/iam/** # 匹配以 /api/iam/ 开头的所有请求

        # Metadata Service 路由
        - id: metadata-service
          uri: http://localhost:8082 # Metadata 服务的地址
          predicates:
            - Path=/api/metadata/** # 匹配以 /api/metadata/ 开头的所有请求

        - id: data-service
          uri: http://localhost:8083 # Data 服务的地址
          predicates:
            - Path=/api/data/** # 匹配以 /api/data/ 开头的所有请求

        - id: lims-service
          uri: http://localhost:8084 # LIMS 服务的地址
          predicates:
            - Path=/api/lims/** # 匹配以 /api/lims/ 开头的所有请求

        - id: workflow-service
          uri: http://localhost:8085 # Workflow 服务的地址
          predicates:
            - Path=/api/workflow/**, /engine-rest/**, /camunda/**

        - id: file-service
          uri: lb://platform-file-service
          predicates:
            - Path=/api/file/**

app:
  jwtSecret: xi5G429vyD9/rLxktYqsZU723o3V5OB65KWoU76ORtFqihOS3gSQSqEWfDzDdc1ThsPv9D2v0AdqvcdXg+2vqg==
  jwtExpirationMs: 3600000 # Access Token 过期时间，例如 1 小时 (3600 * 1000 毫秒)
  jwtRefreshExpirationMs: 604800000 # Refresh Token 过期时间，例如 7 天 (7 * 24 * 3600 * 1000 毫秒)

management:
  endpoints:
    web:
      exposure:
        include: 'health,info,prometheus,metrics'
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  observations:
    key-values:
      application: ${spring.application.name}

logging:
  file:
    #  确保这是 Promtail 映射的主机路径
    name: ./logs/gateway/application.log
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG # 开启 Gateway 的调试日志
    top.itangbao.platform.gateway: DEBUG # 调整为您服务的包名
