global:
  scrape_interval: 15s # 默认抓取间隔

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090'] # Prometheus 自身

  - job_name: 'nacos'
    metrics_path: '/nacos/actuator/prometheus'
    static_configs:
      - targets: [ 'nacos:8848' ]

  - job_name: 'sentinel-dashboard'
    static_configs:
      - targets: [ 'sentinel-dashboard:8858' ]

  - job_name: 'seata-server'
    metrics_path: '/prometheus'
    static_configs:
      - targets: [ 'seata-server:8091' ]

  - job_name: 'zipkin'
    metrics_path: '/actuator/prometheus' # Zipkin 也是 Spring Boot 应用
    static_configs:
      - targets: [ 'zipkin:9411' ]

#  # ⬅️ 抓取所有微服务的指标
#  - job_name: 'manuflex-services'
#    metrics_path: '/actuator/prometheus' # Spring Boot Actuator 暴露 Prometheus 指标的路径
#    static_configs:
#      - targets: ['platform-iam-service:8081']
#      - targets: ['platform-metadata-service:8082']
#      - targets: ['platform-data-service:8083']
#      - targets: ['platform-lims-service:8084']
#      - targets: ['platform-workflow-service:8085']
#      - targets: ['platform-api-gateway:8080'] # Gateway 的端口是 8080

  - job_name: 'manuflex-java-services'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ '192.168.1.52:8081' ] # IAM Service
      - targets: [ '192.168.1.52:8082' ] # Metadata Service
      - targets: [ '192.168.1.52:8083' ] # Data Service
      - targets: [ '192.168.1.52:8084' ] # LIMS Service
      - targets: [ '192.168.1.52:8085' ] # Workflow Service
      - targets: [ '192.168.1.52:8080' ] # API Gateway
