server:
  port: 8085

spring:
  application:
    name: platform-workflow-service
  datasource:
    url: jdbc:mysql://mysql:3306/camunda_bpm?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: manuflex_user
    password: manuflex_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update # Camunda 会管理自己的表，这里禁用 Hibernate 自动 DDL
    show-sql: false # Camunda 会打印很多 SQL，这里可以关闭
    properties:
      hibernate:
        format_sql: false
  kafka: #  新增 Kafka 配置
    bootstrap-servers: kafka:9093 #  Kafka Broker 地址 (Docker Compose 服务名)
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer # 使用 JsonSerializer
      properties:
        spring.json.add.type.headers: false # 禁用类型头，让消费者更灵活
        spring.json.trusted.packages: "*"


## Camunda BPM 配置
camunda.bpm:
  authorization:
    enabled: false
  rest:
    enabled: true
  webapp:
    enabled: true
  database:
    type: mysql
    schema-update: true # 首次启动时自动创建 Camunda 的表结构，生产环境请谨慎或设置为 false
  admin-user:
    id: admin
    password: admin
    firstName: Admin
    lastName: User
  generic-properties:
    properties:
      #设置默认历史数据保留 180 天 (推荐生产环境使用)
      history-time-to-live: P180D


logging:
  level:
    root: INFO
    org.springframework.web: INFO
    top.itangbao.platform.workflow: DEBUG
    org.camunda.bpm: INFO
    org.springframework.jdbc: DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: method
  api-docs:
    path: /v3/api-docs
  info:
    title: ManuFlex PaaS - Workflow Service API
    description: Workflow Management Service APIs for ManuFlex PaaS.
    version: 1.0.0
    contact:
      name: itangbao
      email: itangbao@example.com
    license:
      name: Apache 2.0
      url: https://www.apache.org/licenses/LICENSE-2020.html

app:
  jwt:
    publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuBPMYYuTlJWVajcWkg9FkGQg7Pxpid0tHJl8dG+ruECca8T4WV87e7DvN4OZxUbongp4P4KgG1xHGXswMV9EpK2GnOx2BbHTh+yU3uI2JucpOZQL3uWcKQ+cZIgMIHWDrQ/660ueyLwxxDXoytZaKYW/OGzUEAZxtByLuhO6MWXyMgfi8RoNNOZOxFmyk1G59hF6MLqcC+4j452oCa6woz9HrfhK3DAwuBFfQerM/eYLvShx5p92/xKseSwa3j6Wve1zAY3ZH/wv/TXdQJ18ykaqXkw6qn9ELzh6Hg2ACTDu9k7hs67M9JWKIkQZe6DrOBNjVD5ZRoEkA+ulZiZetQIDAQAB
    expirationMs: 3600000 # Access Token 过期时间，例如 1 小时 (3600 * 1000 毫秒)
    refreshExpirationMs: 86400000 # Refresh Token 过期时间，例如 7 天 (7 * 24 * 3600 * 1000 毫秒)


management:
  endpoints:
    web:
      exposure:
        include: 'health,info,prometheus,metrics'
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  observations:
    key-values:
      application: ${spring.application.name}

workflow.events:
  process-topic: workflow-process-events # 流程事件 Topic
  task-topic: workflow-task-events # 任务事件 Topic