server:
  port: 8080 # API 网关的端口，通常是标准的 HTTP 端口

spring:
  application:
    name: platform-api-gateway
  cloud:
    gateway:
      routes:
        # IAM Service 路由
        - id: iam-service
          uri: http://localhost:8081 # IAM 服务的地址
          predicates:
            - Path=/api/iam/** # 匹配以 /api/iam/ 开头的所有请求

        # Metadata Service 路由
        - id: metadata-service
          uri: http://localhost:8082 # Metadata 服务的地址
          predicates:
            - Path=/api/metadata/** # 匹配以 /api/metadata/ 开头的所有请求

app:
  jwtSecret: xi5G429vyD9/rLxktYqsZU723o3V5OB65KWoU76ORtFqihOS3gSQSqEWfDzDdc1ThsPv9D2v0AdqvcdXg+2vqg==
  jwtExpirationMs: 3600000 # Access Token 过期时间，例如 1 小时 (3600 * 1000 毫秒)
  jwtRefreshExpirationMs: 604800000 # Refresh Token 过期时间，例如 7 天 (7 * 24 * 3600 * 1000 毫秒)



logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG # 开启 Gateway 的调试日志
    top.itangbao.platform.gateway: DEBUG # 调整为您服务的包名
